// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$orange: #E67E22;
$gray: #000000;
$green: #008361;
$yellow: #F2DD53;
$dark-gray: #305252;
$light-gray: #93A8AC;
$light-green: #639A88;
