#banner-dash {
  background-color: #008361;
  height: 20vh;
}


.prof-pic {
  width: 36%;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 32%;
}

#dash-title {
  padding-top: 35px;
  margin-bottom: 20px;
}

