

<div class="navbar">
  <div class="icon-container">
  <%= link_to root_path, class:"active" do %>
  <i class="fas fa-home"></i>
  <% end %>
  <a href="#"><i class="fas fa-shopping-cart"></i></a>
  <%=  link_to search_path do %>
  <i class="fas fa-search"></i>
  <% end %>
  <a href="#"><i class="fas fa-user"></i></a>
  </div>
</div>
