

<div class="navbar">
  <a href="#" class="active"><i class="fas fa-home"></i></a>
  <a href="#"><i class="fas fa-shopping-cart"></i></a>
  <a href="#"><i class="fas fa-search"></i></a>
  <a href="#"><i class="fas fa-user"></i></a>
</div>
