

<div class="navbar">
  <div class="icon-container">
  <%= link_to root_path, class:"active" do %>
  <i class="fas fa-home"></i>
  <% end %>
  <%= link_to carts_path do %>
  <i class="fas fa-shopping-cart"></i>
  <% end %>
  <%=  link_to search_path do %>
  <i class="fas fa-search"></i>
  <% end %>
  <%=  link_to dashboard_path do %>
  <i class="fas fa-user"></i>
  <% end %>
  </div>
</div>
