

<% @carts.each do |c| %>
  <ul class="cart-list">
    <% c.recipe.doses.each do |dose| %>
      <li>
        <%= check_box_tag(dose.ingredient) %>
        <%= dose.ingredient %>
      </li>
    <% end %>
  </ul>
<% end %>

