.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-inner .item {
  height: calc(90vh);
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.carousel-inner > .item >img, .carousel-inner > .item > a > img {
    width: 100vw;
}
