
.modal-content {
  margin-top: 200px;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.modal-footer {
  display: flex;
  justify-content: space-around;
}
