/* Main navbar */
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F7F2F2;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #00000021;
    margin-bottom: 0px;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #E0E0E0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
    color: #97CCBE;
}
