/* Main navbar */
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F7F2F2;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #00000021;
    margin-bottom: 0px;
    z-index: 1000;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-left: 10px;
    // padding-right: 10px;
    width: 80%;

}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 1px 10px;
    text-decoration: none;
    font-size: 25px;
    opacity: 0.5;
}

/* Change the color of links on hover */
.navbar a:hover {
    opacity: 1;
}

/* Add a color to the active/current link */
.navbar a.active {
    color: #97CCBE;
    opacity: 1;
}


.navbar a.active:hover {
  color: #008361;
}

#nav-list {
list-style-type: none;
}




