.banner-recipe {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.banner-content {
  h1 {
    padding: 10px 20px;
  }
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.arrow {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 40px;
  color: white
}


.recipe-icons {
  display:flex;
  justify-content: space-around;
  color: gray;
  opacity: 0.8;
  font-size: 25px;
  padding: 10px 20px;
  margin-top: 10px;
}

#ingredient-det {
  font-size: 16px;
  margin-left: 0px;
  font-weight: lighter;
  padding-right: 0px;
}


#cook-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h4 {
    font-weight: 100;
    font-family: "Lato", "sans serif";
  }
  // padding-top: 25px;
}

@media screen and (max-width: 600px) {
    .recipe-details {
        width: 100%;
    }
}

.floating-box {
    display: inline-block;
    width: cover;
    height: 145px;
    margin: 10px;
}

.tools {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  img {
    height: 30px;
  }
}
