
.arrow-black {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 40px;
  color: black;
}

.step-details {
  font-size: 16px;
}

.step-description {
  p {
  margin: 0 0 3px !important;
  font-size: 25px;

}
}

.step-time {
  font-size: 15px;
  font-weight: normal;
    img {
  height: 30px;
  }
}

.recipe-time {
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}

.text-center {
  font-weight: lighter;
}

#ingredient-details {
  font-size: 16px;
  font-weight: lighter;
}

p {
  font-size: 16px;
}

// .container #step {
//   padding: 2px 4px;

// }


.wrappe-step {
  display: flex;
  flex-direction: column;
}

.complete-step-without-picture {
  flex: 0 0 55%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.step-time{
  flex: 0 0 14%;
  padding-left: 10px;
  padding-top: 10px;
  position: relative;
  #time {
    position: absolute;
    left: 20px;
  }
  #tools {
    position:absolute;
    right: 20px;
  }
}

.step-details{
  flex: 0 0 16%;
  padding: 2px 6px;

}

.step-button{
    flex: 0 0 20%;
    padding-top: 5px;
}

.btn.btn-primary {
  font-size: 24px;
}
  .step-description{
    flex: 0 0 50%;
    padding: 2px 6px;
    font-size: 17px;
  }


// .complete-step-without-picture * {
//   padding: 2px 4px;
// }

 .step-button * {
      padding-top: 5px;
    }

#step-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
}
