
.arrow-black {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 40px;
  color: black;
}

.step-details {

  font-size: 16px;
  width: 30px;
  height: 30px;
  padding-bottom: 30px;


  #step-det {
    margin-left: 5px;
  }

  img {
  height: 30px;
  }
}

.step-time {
  font-size: 15px;
  font-weight: normal;
}

.recipe-time {
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}

.text-center {
  font-weight: lighter;
}

#ingredient-details {
  font-size: 16px;
  margin-left: 0px;
  font-weight: lighter;
}

p {
  font-size: 16px;
}

.container #step {
  padding: 2px 4px;

}

.complete-step-without-picture {
  padding: 2px 4px;
}

.complete-step-without-picture * {
  padding: 2px 4px;
}


#step-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
}
