
.arrow-black {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 40px;
  color: black;
}

.step-details {
  font-size: 16px;
}

.step-description {
  p {
  margin: 0 0 3px !important;
}
}

.step-time {
  font-size: 15px;
  font-weight: normal;
    img {
  height: 30px;
  }
}

.recipe-time {
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}

.text-center {
  font-weight: lighter;
}

#ingredient-details {
  font-size: 16px;
  margin-left: 0px;
  font-weight: lighter;
}

p {
  font-size: 16px;
}

.container #step {
  padding: 2px 4px;

}

.complete-step-without-picture {
  padding: 2px 4px;
}

.complete-step-without-picture * {
  padding: 2px 4px;
}


#step-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
}
