<span class="text-center"> <h1>What's on your mood ?</h1> </span>


<% @categories.each do |category| %>
<%= link_to recipes_path(category: category.name) do  %>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="card card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path category.photo %>')">
      <%= category.name  %>
    </div>
  </div>
</div>
<% end %>
<% end %>
